<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ticuthermosillo.angularjstest" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AngularJS test</name>
    <description>
        AngularJS test
    </description>
    <author email="tic@uthermosillo.edu.mx" href="http://www.tic-uth.net/moodle/">
        TIC Universidad Tecnologica de Hermosillo
    </author>
    <icon src="icon.png"/>
    <content src="index.html" />
    <access origin="*" />
</widget>
